.error {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 200px;
  visibility: hidden;
  opacity: 0;
}

.error h5 {
  background-color: skyblue;
}

.show-error {
  animation: error 5s;
}

@keyframes error {
  0% {
    bottom: 0;
    visibility: hidden;
    opacity: 0;
  }
  20% {
    bottom: 80px;
    visibility: visible;
    opacity: 1;
  }
  80% {
    bottom: 80px;
    visibility: visible;
    opacity: 1;
  }
  100% {
    bottom: 0;
    visibility: hidden;
    opacity: 0;
  }
}
